body {
    font-family: 'Arial', sans-serif;
    background-color: #f4f4f4;
    color: #333;
    padding: 20px;
}

/*Títulos */
h1, h2, h3 {
    text-align: center;
    color: #4CAF50;
}

h1 {
    font-size: 3rem;
    margin-bottom: 20px;
}

h2 {
    font-size: 2rem;
    margin-bottom: 20px;
}

h3 {
    font-size: 1.5rem;
    margin-top: 30px;
}

.text {
    padding: 30px;
}

.title {
    background-color: rgba(0, 100, 0, 0.63);
    padding: 20px;
    color: white;
}

/* Parágrafos */
p {
    font-size: 1rem;
    line-height: 1.6;
    text-align: justify;
    margin-bottom: 20px;
}

/*Cards */
.card-align{

    display: flex;
    width: 800px;
    transform: translateX(35%);
    padding: 30px;
}

.card {
    margin: 30px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);

}

.card-title {
    color: #4CAF50;
    font-weight: bold;
}

.card-subtitle {
    color: #888;
    font-style: italic;
}

.card-body {
    background-color: #fff;
    padding: 20px;
}

.card-text {
    font-size: 0.9rem;
    margin-bottom: 15px;
}

.card-link {
    text-decoration: none;
    color: #4CAF50;
    font-weight: bold;
}

/Carrossel/
.carousel {
    width: 1000px;
    padding-left: 105px;
    
}

/* Formulário */
form {
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin-top: 30px;
}

label {
    font-weight: bold;
    display: block;
    margin-top: 10px;
}

input[type="text"], input[type="email"] {
    width: 100%;
    padding: 10px;
    margin-top: 5px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 1rem;
}

input[type="text"]:focus, input[type="email"]:focus {
    outline: none;
    border-color: #4CAF50;
}

input[type="submit"] {
    background-color: #4CAF50;
    color: #fff;
    border: none;
    padding: 10px 20px;
    font-size: 1rem;
    border-radius: 4px;
    cursor: pointer;
    margin-top: 10px;
}

input[type="submit"]:hover {
    background-color: #45a049;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
}

/*área de pesquisa */

#pesquisa {
    padding-top: 150px;
    padding: 20px;
}

form {
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.26);
}